<div class="hero-unit">

		<h1>Welcome to ContractON</h1>
	<div class = "divider">
		For Contractors:
  				<%= link_to "Sign up now!", 'signup', class: "btn btn-large btn-primary" %>

			For Companys searching Contractors: 
			<%= link_to "See Preliminary Search", '#', class: "btn btn-large btn-primary" %>
	</div>
				


</div>
