<h1>Company Profile</h1>
<h2>This is page for company Profile</h2>
<div class="row">
	<p>	<img src='#' alt="Your picture></p>	
	<div class="span6 offset3">
		
	<table border="1">
	<form action="#">
        
	<tr>
		<th>Name</th>
		<th>Industry</th>
	
		
       </tr>

       <tr> 
                <td><%= @Company.name %></td>
		<td><%= @Company.industry %></td>
		
		

	</tr>

    
</table>
	</div>

</div>

