<h1>Company Profile</h1>
<h2>This is page for company Profile</h2>
<div class="row">
	<div class="span6 offset3">
	<table border="1">
	<form action="#">
	
	<tr>
		<th>Name</th>
		<th>Industry</th>
	
		
       </tr>
       <tr> <%@Company.each do |c| %>
                <td><%= c.name %></td>
		<td><%= c.industry %></td>
		<td><%=link_to "Enter", '#'%></td>
		
	</tr>

      <% end %>
</table>
	</div>
</div>

